nav {
    display: flex;
    flex-direction: column;
    background-color:cornflowerblue;
    width: 15vw;
    float: left;
    padding: auto;
    box-sizing: border-box;
    
    
    
}

nav a {
    background-color: rgb(205, 216, 238);
    color: rgb(58, 61, 61);
    padding: 5%;
    margin:2%;
    transition: background-color 0.7s;
    justify-content: space-evenly;
    
    
    
}
nav a:hover{
    background-color: wheat;
    
    


}

header{
    background-color:rgba(137, 43, 226, 0.336);
    padding: 2em;
    border: 5px;
    border-radius: 1em;
    justify-content: center;
     
}

h1 {
    text-align: center;
}
header, main{
    overflow: auto;
    display: flex;
    
    

}
